/my_tf_pipline/model_saved
/my_tf_pipline/results_saved

/my_pytorch_pipline/model_saved
/my_pytorch_pipline/results_saved

/my_tf_pipline/*.out 
/my_tf_pipline/*.sh 
/my_tf_pipline/machine.*.*  
/my_tf_pipline/slurm_train.py
/my_tf_pipline/scripts/machine.*.*  
/my_tf_pipline/scripts/*.out 
/my_tf_pipline/scripts/*.sh 
/my_tf_pipline/scripts/slurm_train.py
/Keras_tf_tutorials/eat_tensorflow2_in_30_days_ipynb/*

/my_tf_pipline/results
/my_tf_pipline/model_saved
# /my_tf_pipline/my_pratice

/my_tf_pipline/my_pratice/logs
# data save in /home/hpczeji1/hpc-work/Codebase/Datasets/datahub